
  <!-- Generated template for the CrimePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation. -->
 
    <ion-title>Crime</ion-title>


<ion-content padding>

<div >
            
</div>
<ion-slides #slides pager>
  <ion-slide *ngFor="let q of Crime" >
      <h1>{{q.question}}</h1>
  <div class="form-group" style="align-items: center;" *ngFor="let a of q.options">
      <button ion-button full round (click)="getAnswer(a.answer)">{{a.answer}}</button>
    </div>
  </ion-slide>
  <ion-slide> 

    <!-- <h1>{{value}}</h1> -->
    <button ion-button full color="#db3a70" round (click)="displayScore()">Submit Quiz </button>

  </ion-slide>

  
</ion-slides>



</ion-content>