page-quiz-topics {
    .content{
        background-image: url(../../assets/imgs/bb1.png);
    }

      H2{
        color: white;
        font-size: 50px;

      }
      h1{
        color:white;
        font-size: 45px;
      }
}
